.vscode/
!/ide_settings_templates/**

.stack-work/
dist-newstyle/
dist/
target/
__pycache__/
.mypy_cache/
*~
*.o

/bin/Zugkontrolle*
/bin/Zugkontrolle*.exe
/bin/zugkontrolle*
/bin/zugkontrolle*.exe

/Schaltpläne/*.aux
/Schaltpläne/*.log
/Schaltpläne/*.synctex.gz
/stuff/

/Issues.txt
/deps.dot
/deps.png
build_all.sh
/licenses/_bak/

# versehentlich/testweise gespeicherter Zustand
/Märklin.zug
/Lego.zug

/python_scripts/config.ini
