.vscode/

.stack-work/
dist-newstyle/
dist/
target/
*~
*.o

/bin/Zugkontrolle
/bin/Zugkontrolle.exe
/bin/zugkontrolle
/bin/zugkontrolle.exe

/Schaltpläne/*.aux
/Schaltpläne/*.log
/Schaltpläne/*.synctex.gz
/stuff/

/Issues.txt
/deps.dot
/deps.png
