[package]
name = "zugkontrolle"
version = "2.1.0"
authors = ["Wolfgang Witt <Wolfgang.Witt@campus.lmu.de>"]
edition = "2018"
license = "MIT"
publish = false
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.zugkontrolle-derive]
path = "zugkontrolle-derive"

[dependencies]
rstar = "0.8.2"
log = "0.4.14"
simple_logger = "1.11.0"
take_mut = "0.2.2"
version = "3.0.0"
bincode = "1.3.2"
cfg-if = "1.0.0"
paste = "1.0.5"
once_cell = "1.7.2"
num_x = "0.2.2"
argh = "0.1.4"

[dependencies.serde]
version = "1.0.124"
features = ["derive"]

[dependencies.iced]
version = "0.3.0"
default-features = false
features = ["glow", "glow_canvas"]

[dependencies.iced_native]
version = "0.4.0"

[dependencies.iced_graphics]
version = "0.2.0"

[dependencies.iced_aw]
git = "https://github.com/iced-rs/iced_aw"
rev = "c92a393d1bfedc4e3dd8c99cc58920a81ce1eb35"
default-features = false
features = ["card", "modal", "tab_bar", "tabs", "number_input", "glow"]


# can't be used on non-raspi systems
[target.arm-unknown-linux-gnueabihf.dependencies]
# raspi 0/1
rppal = "0.12.0"
#rascam = "0.0.2"
[target.armv7-unknown-linux-gnueabihf.dependencies]
# raspi 2/3/4
rppal = "0.12.0"
#rascam = "0.0.2"

[build-dependencies]
cfg_aliases = "0.1.0"

[dev-dependencies]
image = "0.23.14"
